/* ==UserStyle==
@name           rozhodnuti.nsoud.cz/judikatura/judikatura_ns.nsf/$$WebSearch1
@namespace      https://github.com/OTFlorian
@version        1.0.0
@description    Reduce excessive padding on the new Czech Supreme Court website
@author         Oldrich Tristan Florian
==/UserStyle== */
@-moz-document url-prefix("https://rozhodnuti.nsoud.cz/judikatura/judikatura_ns.nsf/$$WebSearch1") {
    .list-of-judgments table tr {
        padding: 0 0 0 0;
    }

    .list-of-judgments table tr .td-short.icons a {
        bottom: 0px;
    }
}
